<div id="about">
  <h1 class="page-heading">About</h1>
  <p>
    I'm a software engineer. I started my career professionally as a mobile
    application developer in 2011 but quickly realized that my passion is
    software architecture and backend development. In my spare time, I learn new
    things, hack on personal side projects, try to help other people on
    <a href="https://stackoverflow.com/users/{{ site.stackoverflow_username }}">
      StackOverflow</a
    >, play video games, and occassionally share notes and code snippets on
    <a href="https://gist.github.com/{{ site.github_username }}">GitHub Gist</a
    >.
  </p>
</div>
