<div id="awards-and-honors">
    <h1 class="page-heading">Awards and Honors</h1>
    <ul>
        <li>Ranked 1st in the Malware Programming Contest, University of Tehran, 2010</li>
        <li>Ranked 1st in the 9th Nationwide Science Laboratory and Computer Workshop Contest</li>
        <li>Honorable mention in the 9th Khwarizmi Young Festival for Zero-Power Liquid Cooling System</li>
        <li>Honorable mention in the 8th Khwarizmi Young Festival for Network Power Manager Software</li>
    </ul>
</div>
