<div id="highlighted-works">
  <h1 class="page-heading">Highlighted Works</h1>
  <ul>
    <li>
      <a href="https://github.com/fardjad/node-vfs-covid-api">
        VFS COVID API
      </a>
    </li>
    <li>
      <a href="https://github.com/fardjad/docker-network-exposer">
        Docker Network Exposer
      </a>
    </li>
    <li>
      <a href="https://github.com/fardjad/docker-webhook-deploy">
        Docker Webhook Deploy
      </a>
    </li>
    <li>
      <a href="https://github.com/fardjad/realistic-typewriter.js">
        realistic-typewriter.js
      </a>
    </li>
    <li>
      <a href="http://forum.xda-developers.com/showthread.php?t=1663344">
        Runnymede S-OFF
      </a>
    </li>
    <li>
      <a href="https://forum.xda-developers.com/showthread.php?p=21406675">
        WiFix - WiFi Fix for Android 4.0
      </a>
    </li>
    <li>
      <a href="https://github.com/fardjad/omnia2teeter-deviceiocontrol">
        Omnia II WVGA Teeter
      </a>
    </li>
    <li>
      <a href="https://github.com/fardjad/persian-pc.keylayout">
        Persian-PC Keyboard Layout for OS&nbsp;X
      </a>
    </li>
  </ul>
</div>
