<div id="talks-and-papers">
    <h1 class="page-heading">Talks and Papers</h1>
    <ul>
        <li>
            <a href="https://ieeexplore.ieee.org/document/8964775">[Paper] Tennis stroke detection using inertial data of a smartwatch</a>
        </li>
        <li>
            <a href="http://www.theinternetofthings.eu/sites/default/files/%5Buser-name%5D/Isfahan%20Report%20First%20Int%20IoT%20Event.pdf"><strong>[Talk]</strong> IoTConf IR - Another Approach for Device-to-Device Interaction in Smart Environments</a>
        </li>
    </ul>
</div>
